<DOCTYPE! html>
<title>Contact Us</title>
<form action="input.html" method="POST">
				<table>
					<tr>
				
					<tr>First Name: </label><input type="text" align="right" name="firstname" /><br></tr>
					<tr>Last Name: <input type="text" name="lastname"><br></tr>
					<td>Email: <input type="text" name="email"><br></td>
					</tr>
					</table>
					
					
Type of License: <input type="radio" name="license" value="Business">Business<br><input type="radio" name="license" value="Personal">Personal <br>
Reason: <br>
<select name="reason">
	<option value="option1">Select a Reason</option>
	<option value="option2">Software Support</option>
	<option value="option3">Hardware Support</option>
	<option value="option4">Information Request</option>	</select><br>
Additional Information: <textarea name="additionalinfo">
</textarea><br>
<input type="checkbox"  name="agree">I have read the terms of service.<br>
<input type="submit" value="Send Request" <br>
			
			</form>
</form>
</html>
