<DOCTYPE! html>
<title>Menu</title>
<h1 align="center">Tim's Barbeque and Foot Massage</h1>
<body>
<p>
<hr>
<p>
<a href="home.html">Home</a> <a href=menu.html>Menu</a> <a href="contactus.html">Contact Us</a>
<hr>

<center><table>

<tr>

<td><center><h4 class="squid">Squid!</h4> <p>Just a squid.<p>$8.95</p></center>
<td>
<td><centeR><h4 class="burger">Burger</h4><p>Delicious, nutritious,<p>pan-seared, slow-roasted,<p>sautéed, high-definition burger.<p> Great for calories.<p>$8.95</td>
<td><center><h4 class="pickle">Pickled Pickle</h4><p>The best pickle conceivable.<p>$8.95</td>


</table></center>
<p>
<p>
<center><table>

<tr>

<td><center><h4 class="squid">Foot Massage</h4> <p><p>Free with burger.</p></center>
<td>
<td><centeR><h4 class="burger">Supreme Foot Massage</h4><p>Free with Foot Massage!</td>
<td><center><h4 class="pickle">Divine Foot Massage</h4><p>A foot massage by your choice of Roman deity.<p>$8.95</td>


</table></center>



<hr>
<center>1000000 Street Avenue, Chicago, IL, 60660<p>
444-555-1000
<hr>
</body>
</html>

