<DOCTYPE! html>
<link href="restaurantStyles.css" rel="stylesheet" type="text/css"/>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>




div.form
{
    display: block;
    text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input[type=text] {
    border: none;
    border-bottom: dotted #ff0000;
	border-bottom-color: #D3D3D3;
}

textarea {
    width: 300px;
    height: 50px;
}

</style>
<div class="head1">
<header>
<hr>
    <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="home3.html"><span class="glyphicon glyphicon-home"></span></a></li>
  <li role="presentation"><a href="menu3.html">Menu</a></li>
  <li role="presentation"><a href="contactus3.html">Contact Us</a></li>
</ul>
	<hr>
  </header>
  </div>

</head>
<h1 align="center">Tim's Barbeque and Foot Massage</h1>
<title>Contact Us</title>
<div class="form">
<form action="input.html" method="POST">
				<table>
					<tr>
				
					<tr>First Name: </label><input type="text" align="right" name="firstname" /><br></tr>
					<tr>Last Name: <input type="text" name="lastname"><br></tr>
					<tr>Email: <input type="text" name="email"><br></tr>
					</tr>
					</table>
					
					
Type of License:<br> <input type="radio" name="license" value="Business">Business<br><input type="radio" name="license" value="Personal">Personal <br>
Reason: <br>
<select name="reason">
	<option value="option1">Select a Reason</option>
	<option value="option2">Software Support</option>
	<option value="option3">Hardware Support</option>
	<option value="option4">Information Request</option>	</select><br>
	<br>
Additional Information: <textarea name="additionalinfo">
</textarea><br>
<input type="checkbox"  name="agree">I have read the terms of service.<br>
<input type="submit" value="Send Request" <br>
			
			</form>
</div>

<p>
<div class="foot">
<hr>
<footer>
<center>1000000 Street Avenue, Chicago, IL, 60660<p>
444-555-1000
</footer>
<hr>
</div>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
