<DOCTYPE! html>
<link href="restaurantStyles.css" rel="stylesheet" type="text/css"/>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>
body {
	background-color: #ccf2ff;
}
</style>

<div id="car">
<!-- Carousel -->
    <div id="text-carousel" class="carousel slide" style="height: 50px;" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <p>We're opening a new location!</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>We're rolling out our seasonal menu, with special options for this season. </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>The Drink of the Month is SG Special Brew.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div></div>

</head>
<title>Home Page</title>


<body>

<p>
<br>

<div class = "div1">
  <h1 align="center">Tim's Barbeque and Foot Massage</h1>
</div>
<h6 align="center">This site is best viewed with JavaScript enabled.</h6>


 
<div class="head1">
<header>
<hr>
    <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="home3.html"><span class="glyphicon glyphicon-home"></span></a></li>
  <li role="presentation"><a href="menu3.html">Menu</a></li>
  <li role="presentation"><a href="contactus3.html">Contact Us</a></li>
</ul>
	<hr>
  </header>
</div>

<div class="container">
  <div class="col-xs-12 center-block">
<center><img src="http://cdn.trendir.com/wp-content/uploads/old/ultra-modern/robert-majkut-design-cinema-multikino-35mm-club.jpg" alt="Where the magic happens" style="width:400px;height:150px;border-radius:8px;"></center>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 center-block">
<p>
<center>
TBBQ&FM is the place to rock. It is a restaurant where they buy food to eat. It is a good place to listen to the music. People flock here to get down to the rock music. We will make you fat. We serve Big Macs. We will put pounds on you.
</centeR>
<p>
  </div>
</div>

<div class="foot">
<footer>
<hr>
<center>1000000 Street Avenue, Chicago, IL, 60660<p>
444-555-1000
<hr>
</footer>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>