<DOCTYPE! html>
    <link href="restaurantStyles.css" rel="stylesheet" type="text/css" />
    <title>Menu</title>

    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <style>
            table,
            th,
            td {
                border: dotted;
                background-color: #fcc;
            }
            
            h4 {
                font-style: italic;
                font-size: larger;
            }
        </style>
        <div class="head1">
            <header>
                <hr>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="home3.html"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li role="presentation"><a href="menu3.html">Menu</a></li>
                    <li role="presentation"><a href="contactus3.html">Contact Us</a></li>
                </ul>
                <hr>
            </header>
        </div>

    </head>
    <h1 align="center">Tim's Barbeque and Foot Massage</h1>

    <body>



        <div class="border">
            <div class="container">
                <div class="col-xs-4">
                    <center>
                        <h4 class="squid">Squid!</h4>
                        <p>Just a squid.
                            <p>$8.95</p>
                    </center>
                </div>
                <div class="col-xs-4">
                    <centeR>
                        <h4 class="burger">Burger</h4>
                        <p>Delicious, nutritious,
                            <p>pan-seared, slow-roasted,
                                <p>sauteed, high-definition burger.
                                    <p> Great for calories.
                                        <p>$8.95</div>
                <div class="col-xs-4">
                    <center>
                        <h4 class="pickle">Pickled Pickle</h4>
                        <p>The best pickle conceivable.
                            <p>$8.95</div>
            </div>



            <p>
                <p>


                    <div class="container">
                        <div class="col-xs-4">
                            <center>
                                <h4 class="squid">Foot Massage</h4>
                                <p>
                                    <p>Free with burger.</p>
                        </div>
                        <div class="col-xs-4">
                            <td>
                                <centeR>
                                    <h4 class="burger">Supreme Foot Massage</h4>
                                    <p>Free with Foot Massage!</td>
                        </div>
                        <div class="col-xs-4">
                            <td>
                                <center>
                                    <h4 class="pickle">Divine Foot Massage</h4>
                                    <p>A foot massage by your choice of Roman deity.
                                        <p>$8.95</td>
                        </div>
                    </div>
        </div>



        <center>
            <table><br>

                <caption>Beverages</caption>

                <tr>
                    <td>Root Beer</td>
                    <td>$3.00</td>

                </tr>
                <tr>
                    <td>Bottled Water</td>
                    <td>$1.25</td>

                </tr>
                <tr>
                    <td>Lemonade</td>
                    <td>$1.00</td>



                </tr>
                <tr>
                    <td>Iced Tea</td>
                    <td>$1.25</td>


                </tr>

                </td>
                </tr>



            </table>
        </center>
        <p>
            <p>

                <div class="foot">
                    <hr>
                    <footer>
                        <center>1000000 Street Avenue, Chicago, IL, 60660
                            <p>
                                444-555-1000
                    </footer>
                    <hr>
                </div>
    </body>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </html>