<DOCTYPE! html>
<link href="restaurantStyles.css" rel="stylesheet" type="text/css"/>
<title>Menu</title>
<head>
<style>
table, th, td {
   border: dotted;
   background-color: #fcc;
}

h4 {
	font-style: italic;
	font-size: larger;
}

</style>
<div class="head1">
<header>
<hr>
    <p><a href="home3.html">Home</a> <a href=menu3.html>Menu</a> <a href="contactus3.html">Contact Us</a></p>
	<hr>
  </header>
  </div>

</head>
<h1 align="center">Tim's Barbeque and Foot Massage</h1>
<body>
<center><table>

<tr>

<td><center><h4 class="squid">Squid!</h4> <p>Just a squid.<p>$8.95</p></center>
<td>
<td><centeR><h4 class="burger">Burger</h4><p>Delicious, nutritious,<p>pan-seared, slow-roasted,<p>sauteed, high-definition burger.<p> Great for calories.<p>$8.95</td>
<td><center><h4 class="pickle">Pickled Pickle</h4><p>The best pickle conceivable.<p>$8.95</td>


</table></center>
<p>
<p>
<center><table>

<tr>

<td><center><h4 class="squid">Foot Massage</h4> <p><p>Free with burger.</p></center>
<td>
<td><centeR><h4 class="burger">Supreme Foot Massage</h4><p>Free with Foot Massage!</td>
<td><center><h4 class="pickle">Divine Foot Massage</h4><p>A foot massage by your choice of Roman deity.<p>$8.95</td>


</table></center>

<center><table><br>

<caption>Beverages</caption>

<tr>
	<td>Root Beer</td>
	<td>$3.00</td>
	
</tr>
<tr>
		<td>Bottled Water</td>
		<td>$1.25</td>
		
		</tr>
<tr>
	<td>Lemonade</td>
	<td>$1.00</td>



</tr>
<tr>
	<td>Iced Tea</td>
	<td>$1.25</td>


</tr>
	
</td>
</tr>



</table></center>
<p>
<p>

<div class="foot">
<hr>
<footer>
<center>1000000 Street Avenue, Chicago, IL, 60660<p>
444-555-1000
</footer>
<hr>
</div>
</body>
</html>

