@font-face{
	font-family: 'Montserrat';
	font-style: normal;
	src: url("https://fonts.googleapis.com/css?family=Montserrat");
	
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-style: bold;
}	

.head1{
	padding: 30px;
	background-color: #d3d3d3;
}

.foot{
	padding: 30px;
	background-color: #d3d3d3;
}

.form{
	font-weight: bold;
	
	
}
.bev{
border-bottom: 2px;	
}


a:visited{
	color: #558e7b;
	
}
a:hover{
	font-weight: bold;
	
}
a:active{
	text-decoration: none;
}