@font-face{
	font-family: 'Oswald';
	font-style: normal;
	src: url('https://fonts.googleapis.com/css?family=Oswald');
	
}



h4 {
 background-color: #000000;
 color: #FF0000;

}


h3 {
	font-family: 'Oswald', sans-serif;
	
}

#albumart {
	background-image: url("http://i.imgur.com/4a3NuVe.jpgv") no-repeat;
	margin-left: 40%;
	margin-right: 40%;
	
}

li {
	font-style: italic;
	
}