<DOCTYPE! html>
<link href="restaurantStyles.css" rel="stylesheet" type="text/css"/>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>
body {
	background-color: #ccf2ff;
}
</style>
</head>
<title>Home Page</title>


<body>

<div class="container">
  <div class="jumbotron">
    <center><h3>New location in Akron! Grand opening February 1st!</h3></center>
  </div>
</div>

<div class = "div1">
  <h1 align="center">Tim's Barbeque and Foot Massage</h1>
</div>


 
<div class="head1">
<header>
<hr>
    <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="home3.html"><span class="glyphicon glyphicon-home"></span></a></li>
  <li role="presentation"><a href="menu3.html">Menu</a></li>
  <li role="presentation"><a href="contactus3.html">Contact Us</a></li>
</ul>
	<hr>
  </header>
</div>

<div class="container">
  <div class="col-xs-12 center-block">
<center><img src="http://cdn.trendir.com/wp-content/uploads/old/ultra-modern/robert-majkut-design-cinema-multikino-35mm-club.jpg" alt="Where the magic happens" style="width:400px;height:150px;border-radius:8px;"></center>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 center-block">
<p>
<center>
TBBQ&FM is the place to rock. It is a restaurant where they buy food to eat. It is a good place to listen to the music. People flock here to get down to the rock music. We will make you fat. We serve Big Macs. We will put pounds on you.
</centeR>
<p>
  </div>
</div>

<div class="foot">
<footer>
<hr>
<center>1000000 Street Avenue, Chicago, IL, 60660<p>
444-555-1000
<hr>
</footer>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>