<DOCTYPE! html>
<link href="restaurantStyles.css" rel="stylesheet" type="text/css"/>
<head>
<div class="head1">
<header>
<hr>
    <p><a href="home2.html">Home</a> <a href=menu2.html>Menu</a> <a href="contactus2.html">Contact Us</a></p>
	<hr>
  </header>
</div>
</head>
<title>Home Page</title>

<h1 align="center">Tim's Barbeque and Foot Massage</h1>
<body>

 

<center><img src="http://cdn.trendir.com/wp-content/uploads/old/ultra-modern/robert-majkut-design-cinema-multikino-35mm-club.jpg" alt="Where the magic happens" style="width:400px;height:150px;border-radius:8px;"></center>
<p>

<center>
TBBQ&FM is the place to rock. It is a restaurant where they buy food to eat. It is a good place to listen to the music. People flock here to get down to the rock music. We will make you fat. We serve Big Macs. We will put pounds on you.
</centeR>
<p>
<div class="foot">
<footer>
<hr>
<center>1000000 Street Avenue, Chicago, IL, 60660<p>
444-555-1000
<hr>
</footer>
</div>
</body>
</html>