@font-face{
	font-family: 'Oswald';
	font-style: normal;
	src: url('https://fonts.googleapis.com/css?family=Oswald');
	
}

#albumart {
	background-image: url("http://i.imgur.com/4a3NuVe.jpg");
	background-size: contain;
	display: block;
	margin: auto;
	height:300px;
	width:300px;

	
}


a:hover{
	font-style: underline;
	color: green;
}

td {
	font-style: italicize;
	
}



h4 {
 background-color: #000000;
 color: #FF0000;

}


h3 {
	font-family: 'Oswald', sans-serif;
	
}



tbody {
	font-style: italic;
	background-color: #cfc;
	
}